html {
  font-family: "Arial";

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      color: $secondary-color;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .btn.btn-primary {
    color: black;
  }
  
  .btn.btn-danger {
    color: white;
  }

  .btn.btn-white {
    border: 1px solid #cccccc;
  }
  
  .list-group .list-group-item.active {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }

  .dropdown-item.active {
    background-color: $secondary-color;
  }
  .dropdown-item:active {
    background-color: $primary-color;
  }
}
